parameters:
    level: 8

    scanDirectories:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/testing
        - %currentWorkingDirectory%/tests

    paths:
        - src
        - testing
        - tests
